@font-face {
  font-family: "Helvetica";
  src: url('./fonts/helvetica_regular.otf');
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url('./fonts/helvetica_bold.otf');
}
@font-face {
  font-family: "Helvetica-Light";
  src: url('./fonts/helvetica_light.otf');
}
.App {
  background-color: #131923;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
p, h1, h2 {
  margin: 0;
  color: white;
}
p, figcaption {
  font-family: 'Helvetica';
}
h1, h2 {
  font-family: "Helvetica-Bold";
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
hr {
  margin: 0;
  border: none;
}